$padding-top: 70px
$proper-width: 1170px
$no-padding: 0px
$rounded-corners: 25px
$border-right: 1px solid black
$search-box-length: 670px 
$margin-right: 0px
$background-color: white
$proper-height: 70px
$position: relative
$position-left: 80px
$position-top: 15px
$custom-color: #0068ab

.padding-top
  padding-top: $padding-top
  border: 4px solid $custom-color

.no-padding
  padding-left: $no-padding
  padding-right: $no-padding

.rounded
  border-radius: $rounded-corners
  border: 2px solid $custom-color

.border-right
  border-right: $border-right
  height: 20px

.icons-navbar
  margin-right: $margin-right
  position: relative
  top: 20px
  right: 10px

.proper-width 
  width: $proper-width

#overrides
  .search-box-length
    width: $search-box-length  
    height: 25px  

.proper-height
  height: $proper-height

.display-flex
  padding: 0 15px 0 15px
  display: flex
  height: 65px

.white-background
  background: $background-color

.search-box-position 
  position: $position
  left: $position-left
  top: $position-top

.logo-name
  p
    margin-top: 20px
    position: relative
    left: 10px
    font-size: 17px
    font-family: Arial
    letter-spacing: 2px
    font-weight: bold
    color: $custom-color

.inside-icon
  position: relative
  right: 25px
  color: $custom-color
  top: 3px

.icon-top-position 
  position: relative
  top: -7px

#overrides
  .icons-display
    display: flex

.number-top-position 
  position: relative
  top: -10px
  padding-left: 3px
.custom-color
  color: $custom-color

.left-menu
  background-color: $custom-color

#overrides
  .left-menu
    li  
      line-height: 25px
      border-bottom: 1px solid black
      a
        color: white
        font-family: Arial
        font-weight: lighter
        letter-spacing: 1px
        font-size: 13px
    







