// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$container-padding: 86px
$picture-font-size: 200px
$search-box-size: 50
$vip-border: 2px solid blue
$center: center
$btn-width: 32%
$no-padd: 0px
$button-font: 11px
$display: inline
$padding-right: 10px
$display-table: table
$float-none: none
$display-cell: table-cell
$vertical-align: top



.container 
  margin-left: $container-padding
  margin-right: $container-padding
.picture
  font-size: $picture-font-size
.vip-border
  border: $vip-border
.no-padd
  padding: $no-padd
.biggie
  width: $btn-width
  font-size: $button-font
.narrow
  display: $display
.with-padd
  padding-right: $padding-right
.left-padd
  padding-left: $no-padd
.even
  display: $display-table
.even-2
  float: $float-none
  display: $display-cell
  vertical-align: $vertical-align
.middle-column-position
  position: relative
  top: -10px





