.col-md-3
  .row
    .text-center 
      %i.glyphicon.glyphicon-phone.picture
    .btn-group.btn-group-justified{:role => 'group', "aria-label" => "..."}
      .btn.group
        %button.btn.btn-success{:type => "button"} Button
      .btn.group
        %button.btn.btn-success{:type => "button"} Button
    %br
    %br
    .class.list-group
      %a.list-group-item{:href => "#"}
        %h5.list-group-item-heading List group item heading
        %p.list-group-item-text Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international 
      %a.list-group-item{:href => "#"}
        %h5.list-group-item-heading List group item heading
        %p.list-group-item-text Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international 
      %a.list-group-item{:href => "#"}
        %h5.list-group-item-heading List group item heading
        %p.list-group-item-text Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international 
      %a.list-group-item{:href => "#"}
        %h5.list-group-item-heading List group item heading
        %p.list-group-item-text Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international 
      %a.list-group-item{:href => "#"}
        %h5.list-group-item-heading List group item heading
        %p.list-group-item-text Projects sponsored by UNESCO include literacy, technical, and teacher-training programmes; international 
