.row
  .col-md-6
    %div
      %button{:type => "button", :class => "btn btn-primary biggie"}
        %i.glyphicon.glyphicon-transfer
        Vergleichen
      %button{:type => "button", :class => "btn btn-primary biggie"} 
        %i.glyphicon.glyphicon-edit
        Merken
      %button{:type => "button", :class => "btn btn-primary biggie"}
        %i.glyphicon.glyphicon-shopping-cart
        Warenkorb
    %br
